In [1]:
import pandas as pd

data = pd.read_csv("deliveries.csv")
data

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136593,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
136594,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
136595,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
136596,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136597,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [3]:
data['batsman'].value_counts()

batsman
V Kohli           3237
SK Raina          3059
G Gambhir         3028
RG Sharma         2996
RV Uthappa        2721
                  ...
Swapnil Singh        1
V Pratap Singh       1
C Nanda              1
YA Abdulla           1
NJ Rimmington        1
Name: count, Length: 436, dtype: int64

In [13]:
# Slice the dataset using slicing method to retain the first 50,000 rows
sliced_data = data[:50000]
sliced_data

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,211,1,Kings XI Punjab,Kolkata Knight Riders,14,5,DJ Hussey,KD Karthik,R Bhatia,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
49996,211,1,Kings XI Punjab,Kolkata Knight Riders,14,6,KD Karthik,DJ Hussey,R Bhatia,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
49997,211,1,Kings XI Punjab,Kolkata Knight Riders,15,1,DJ Hussey,KD Karthik,Iqbal Abdulla,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
49998,211,1,Kings XI Punjab,Kolkata Knight Riders,15,2,DJ Hussey,KD Karthik,Iqbal Abdulla,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
49999,211,1,Kings XI Punjab,Kolkata Knight Riders,15,3,DJ Hussey,KD Karthik,Iqbal Abdulla,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [17]:
sliced_data['batsman'].value_counts()

batsman
JH Kallis         1276
SR Tendulkar      1247
SK Raina          1130
G Gambhir         1069
RG Sharma         1065
                  ...
U Kaul               1
C Nanda              1
CK Langeveldt        1
Harpreet Singh       1
NJ Rimmington        1
Name: count, Length: 289, dtype: int64